body {
	margin: 0;
	padding: 0;
	background: #E8E8CE url(bg.gif) repeat-x fixed;
	font-size: 78%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	color: #333;
}

.desc {
	color: #333;
	font-size: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;

}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin: 1.2em 0;
}
ol, ul {
	font-size: 1em;
	line-height: 1.5em;
	margin: 1.2em 0 1.2em 2em;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1.2em 0;
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
	color: #9BBB38; 
}
h1, h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}

h4.title {
    color: #E58712;
}
a {
	text-decoration: none;
}
a:link {
	color: #E58712;
}
a:visited {
	color: #B96F17;
}
a:hover, a:active {
	color: #9BBB38;
}
input, textarea, select {
	border: 1px solid #C1C0B5;
	color: #333;
	font-size: 1em;
	font-family: "Lucida Sans Unicode", Tahoma, Arial, sans-serif;
}
blockquote {
	margin: 0 20px;
	padding: 0 20px;
	border-left: 4px solid #E8E7D0;
	font-size: 0.9em;
}
code {
	font-family: monospace;
	color: #666;
}
form, img {
	margin: 0;
	padding: 0;
	border: 0;
}
.small {
	font-size: 0.9em;
	color: #999;
}



/* Layout */

#wrapper {
	margin: 0 auto;
	width: 99%;
	background-color: #FFF;
	text-align: left;
}
#header {
	padding: 10px 0 0 0;
	background-color: #F5F5E7;
	border-bottom: 10px solid #9BBB38;
}

#user-info {
    text-align: right;
    float: right;
    padding-top: 5px;
}

	/* Header Styles */
	#header h1 {
		margin: 0;
		font-size: 1.8em;
        display: inline;
	}
	#header h1 a {
		text-decoration: none;
		color: #80904F;
	}
	
	
#content {
	float: left;
	padding: 0 15px;

	voice-family: "\"}\""; 
	voice-family: inherit;
} 

html>body #content {

}
#sidebar {
	float: left;
	padding: 1.8em 20px 0 20px;
	width: 230px;
	font-size: 0.9em;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 190px;
} 
html>body #sidebar {
	width: 190px;
}
* html #content, * html #sidebar {
	overflow: hidden; /* For IE */
}

	/* Lots of sidebar styles, so they're below */

#footer {
	clear: both;
	font-size: 0.9em;
	text-align: right;
}

	/* Footer Styles */
	#footer p {
		margin: 0;
		padding: 10px 0 20px 0;
		background-color: #E8E8CE;
        border-top: 10px solid #9BBB38;
		font-size: 0.9em;
		text-align: right;
	}

	
	
/* Sidebar Styles */

#sidebar h2 {
	display: inline;
	margin: 1.2em 0 0.6em 0;
	padding: 0 10px 0 0;
	background: url(http://www.jroller.com/kbaum/resource/images/arrow.gif) no-repeat center right;
	font-size: 1.1em;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#sidebar ul li {
}
#sidebar ul ul {
	margin: 1.2em 0;
	border-top: 1px solid #E8E7D0;
	background-color: #FAFAF0;
}
#sidebar ul ul li {
	padding: 0 0 0 10px;
	border-bottom: 1px solid #E8E7D0;
}
#sidebar ul ul li a {
	display: block;
	margin: 0 0 0 -10px;
	padding: 2px 10px 0 10px;
	width: 190px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 170px;
} 
html>body #sidebar ul ul li a {
	width: 170px;
}
#sidebar ul ul li a:hover {
	background-color: #FFF;
}
/* Nested lists? */
#sidebar ul ul ul {
	margin: 0;
	border: none;
}
#sidebar ul ul ul li {
	margin: 0 0 0 -10px;
	padding: 0 0 0 25px;
	border-bottom: none;
	border-top: 1px solid #E8E7D0;
}
#sidebar ul ul ul li a {
	margin: 0 0 0 -25px;
	padding: 2px 10px 0 25px;
	width: 190px;
	voice-family: "\"}\""; 
	voice-family: inherit;
	width: 155px;
} 
html>body #sidebar ul ul ul li a {
	width: 155px;
}



/* Blog */

.post {
}
.posttitle {
	margin-bottom: 0;
	width: 100%;
	color: #FFF;
	overflow: auto;
	/* Width and overflow to clear '.posttitle a' */
}
.posttitle a {
	float: left;
	padding: 0 10px;
	background: #9BBB38 url(http://www.jroller.com/kbaum/resource/images/posttitle.gif) no-repeat top right;
}
.posttitle a:link, .posttitle a:visited {
	color: #FFF;	
}
.posttitle a:hover, .posttitle a:active {
	background: #E8E7D0 url(http://www.jroller.com/kbaum/resource/images/posttitle.gif) no-repeat 100% -91px;
	color: #80904F;
}
.postmeta {
	margin-top: 0;
	padding-top: 1px;
	background: url(http://www.jroller.com/kbaum/resource/images/postmeta.gif) no-repeat top left;
	font-size: 0.9em;
	color: #999;
}
.postentry {
}
.permalink {
	margin: 0 0 0 0;
	padding: 0 0 0 14px;
	background: url(http://www.jroller.com/kbaum/resource/images/permalink.gif) no-repeat center left;
}
.commentslink {
	padding: 0 0 0 17px;
	background: url(http://www.jroller.com/kbaum/resource/images/commentslink.gif) no-repeat center left;
}



/* Comments */

#commentlist {
	margin: 1.2em 0;
	padding: 0;
	border-bottom: 1px solid #E8E7D0;
	list-style-type: none;
}
#commentlist li {
	border-top: 1px solid #E8E7D0;
	padding: 1px 20px;
	background-color: #FFF;
}
.alt {
	background-color: #FAFAF0 !important;
}
.commenttitle {
	margin-bottom: 0;
	font-size: 1.1em;
}
.commentmeta {
	margin-top: 0;
	font-size: 0.9em;
	color: #999;
}
.comments-head {
   margin: 1.2em 0;
   font-size: 150%;
   font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
   color: #9BBB38; 
}
.comment {
   padding: 5px;
   margin: 0px 0px 2em 0px;
   width: 98%;
   border-top: 1px solid #a5a5a5;   
   border-bottom: 1px solid #a5a5a5;
}
.comment-details {
   font-size:70%;
   color: grey;
}
.next-previous {
   text-align: center;
   margin: 1em 0px 1em 0px;
}

table.list {border-bottom: 1px solid #999; font-size:9pt;}
table.list tr td, table.list tr th {border-top: 1px solid #999; padding: 2px 3px 2px 2px; border-right: 1px solid #999; border-bottom: 0px}
table.list thead tr td, table.list thead tr th {background-color:#F5F5E7; font-weight: bold; padding: 3px;  border-right: 1px solid #999; text-align: center; border-top: 1px solid #999}
table.list thead tr th {text-align:center; background-color:#F5F5E7; font-weight: bold; padding: 3px; }
table.list {border-left: 1px solid #999;}

td a.red {color: red}
td a.green {color: #060}
td a.black {color: black}

table.list thead tr td.sort {background: orange}
table.list tr {background: white;}
table.list tr.even {background: #f0f0f0}

table.list td img {vertical-align: middle}
table.list caption {font: bold 11px tahoma; border: 1px solid #999; border-width: 1px 1px 0px 1px; background:#cccccc; padding: 3px}

#navlist {
    padding-left: 20px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

#navWrapper {
    margin: 10px;
}

.inline {
    display: inline;
}

#auditWindow {
    padding: 0 20px 20px 20px;
}

.x-menu-list-item {
    text-align: left;
}

.grey-border {
    border: 1px solid #e8e8ce !important;
}



.radio-toolbar {
  margin: 1px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 0px 2px;
    font-family: sans-serif, Arial;
    font-size: 11px;
    border: 1px solid #444;
    border-radius: 2px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 1px solid #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}